<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.materialdesign" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".TestCoordinatorLayout"
            android:label="@string/title_activity_test_coordinator_layout" />
        <activity
            android:name=".RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view" />
        <activity
            android:name=".NavigationViewActivity"
            android:label="@string/title_activity_navigation_view" />
        <activity
            android:name=".UIPerformanceActivity"
            android:label="@string/title_activity_uiperformance" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".PhotoViewActivity"
            android:label="@string/title_activity_photo_view" />
        <activity
            android:name=".CircleFloatingBtnActivity"
            android:label="@string/title_activity_circle_floating_btn" />
        <activity
            android:name=".TransitionActivityA"
            android:label="@string/title_activity_transition" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".TransitionActivityB"
            android:label="@string/title_activity_transition_activity_b" />
        <activity
            android:name=".FocusActivity"
            android:label="@string/title_activity_focus"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".TestListActivity"
            android:label="@string/title_activity_test_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
